



/* THE CLEARFIX */
.clearfix::after {
    Content: “”;
	Display: block;
	Clear: both;
}

.clear {
    clear: both;
}


/* background image - cloudz */
#background {
    background: url(../images/cloudy-day.png);
    background-repeat: repeat;
    width: 100%;
}


/* just the white header */
.header {
    background-color: white;
    width: 100%;
    height: 4rem;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    /* margin: 0 0 2rem 0; */
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 0 .13rem 0;
}

.whiteHeader {
    background-color: white;
    width: 60rem;
    height: 3.93rem;
    margin: auto;
    overflow: hidden;
}


/* myName top left */
.myNameContainer {
    width: 50%;
    float: left;
    height: 4rem;
}

.myNameFont {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 4rem;
    padding: 0 1rem;
    float: left;
    text-align: center;
    font-family: 'Georgia', Times, serif;
}


/* top right tabs */
.tabsFont {
    color: #e7e7e7;
}

.tabsPosition {
    width: 50%;
    float: left;
    height: 3rem;
    overflow: hidden;
}

/* tab list */
ul {
    /* reset */
    list-style-type: none;
    margin: 0;

    text-align: right;
    padding: 1rem 0;
}

ul li {
    display: inline-block;
    line-height: 3rem;
}

ul li a {
    /* resets hyperlink font */
    color: grey;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}

ul li a:hover {
    background-color: #4aaaa5;
    color: white;
}





/* BODY */
.mainContentBoxContainer {
    width: 60rem;
    margin: auto;
    height: auto;
    
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: .1rem;
}


.titleFont {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;    
}

.mainContentBox {
    
    width: 94%;
    padding: 2rem 0;
    margin: auto;
    height: auto;

}

/* general font formatting */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h2 {
    font-size: 3vw;
}

hr {
    border-style: solid;
    border-width: .15rem 0 0 0;
    border-color: #cccccc;
}


/* my picture */
.aboutMeMyPicturePosition {
    height: 15rem;
    object-fit: cover;
    padding: .2rem 1rem .5rem 0;
}



/* Portfolio images and text overlay */
.portfolioFlexBox {
    display: flex;
    flex-direction: ltr;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
    width: 100%;
}

.textOverlayContainer {
    position: relative;
    height: 17rem;
    width: 20rem;
}

.portfolioImage {
    float: left;
    height: 15rem;
    width: 18rem;
    object-fit: cover;
    margin: 1rem;
}

.textOverlay {
    position: absolute;
    top: 62%;
    width: 18rem;
    background-color: #4aaaa5;
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    padding: 1rem 0;
}


/*
.textOverlayContainer {
    position: relative;
    height: 25vw;
    width: 35%;
    padding: .5vw;
    overflow: hidden;
}

.portfolioImage {
    float: left;
    height: 25vw;
    width: 100%;
    object-fit: cover;
}

.textOverlay {
    position: absolute;
    top: 71%;
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    font-size: 2vw;
    text-align: center;
    padding: 1.5vw 0;
}
*/



/* Contact form */
.formText {
    color: #777777;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0 1.2rem 0 0;
}


.formField {
    width: 100%;
    padding: .5rem;
    margin: auto;
}

.formMessageBox {
    width: 100%;
    height: 10rem;
    text-align: start;
    border-width: 1px;
    border-color: #dddddd;
    padding: .5rem;
}

.formSubmitButton {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1rem;
    padding: .5rem 1.5rem;
}

  


/* About Me paragraph text */
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5rem;
}

.floatLeft {
    float: left;
}





/* FOOTER */
#footerContainer {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #666666;
    color: #e9e9e9;
    width: 100%;
    height: 3rem;
    /* margin: 2rem 0 0 0; */

    border-style: solid;
    border-width: .5rem 0 0 0;
    border-color: #4aaaa5;
}

/* footer text */
.copyrightText {
    text-align: center;
    font-size: .8rem;
    line-height: 4rem;
}





/* Media Queries */

@media screen and (max-width: 980px) {

    .header {
        width: 100%;
        height: 4rem;
        
        border-width: 0 0 .13rem 0;
    }
    
    .whiteHeader {
        width: 95%;
        height: 3.87rem;
    }

    .myNameContainer {
        width: 50%;
        float: left;
        height: 4rem;
    }

    .mainContentBoxContainer {
        width: 70%;
        float: left;
        margin: 0 3vw;
        height: auto;
    }
    
    
    .myNameFont {
        font-size: 1.3rem;
        text-align: center;
        font-family: 'Georgia', Times, serif;
    }

    ul li a {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    .aboutMeMyPicturePosition {
        height: 13rem;
    }


    /* Portfolio */
    .textOverlayContainer {
        height: 16rem;
        width: 19rem;
    }
    
    .portfolioImage {
        height: 14rem;
        width: 17rem;
        object-fit: cover;
        margin: 1rem;
    }
    
    .textOverlay {
        top: 62%;
        width: 17rem;
        font-size: 1.5rem;
        margin: 1rem;
        text-align: center;
        padding: 1rem 0;
    }


    




}

@media screen and (max-width: 768px) {

    .header {
        width: 100%;
        height: 4rem;
        
        border-width: 0 0 .13rem 0;
    }
    
    .whiteHeader {
        width: 95%;
        height: 3.87rem;
    }

    .myNameContainer {
        width: 50%;
        float: left;
        height: 4rem;
    }

    .mainContentBoxContainer {
        width: 70%;
        float: left;
        margin: 0 3vw;
        height: auto;
    }

    .myNameFont {
        font-size: 1.2rem;
        text-align: center;
        font-family: 'Georgia', Times, serif;
    }

    ul li a {
        font-size: .9rem;
        padding: 1rem 1.5rem;
    }

    .aboutMeMyPicturePosition {
        height: 10rem;
    }


    /* Portfolio */
    .textOverlayContainer {
        height: 14rem;
        width: 17rem;
    }
    
    .portfolioImage {
        height: 12rem;
        width: 15rem;
        object-fit: cover;
        margin: 1rem;
    }
    
    .textOverlay {
        top: 62%;
        width: 15rem;
        font-size: 1.3rem;
        margin: 1rem;
        text-align: center;
        padding: .8rem 0;
    }

}

@media screen and (max-width: 640px) {

    .header {
        width: 100%;
        height: 7.4rem;
        border-width: 0 0 .13rem 0;
    }
    
    .whiteHeader {
        width: 100%;
        height: 7rem;
        overflow: visible;
    }

    .myNameContainer {
        width: 100%;
        margin: auto;
        float: left;
        height: 4rem;
    }

    .tabsPosition {
        width: 100%;
        float: left;
        height: 3rem;
        overflow: hidden;
    }

    

    .mainContentBoxContainer {
        width: 94%;
        float: left;
        margin: 0 3vw;
        height: auto;
    }

    .myNameFont {
        font-size: 1.3rem;
        width: 100%;
        padding: 0;
        text-align: center;
        font-family: 'Georgia', Times, serif;
    }

    ul {
        text-align: center;
        padding: .2rem 0;
    }

    ul li a {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    .aboutMeMyPicturePosition {
        height: 8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        line-height: 1.5rem;
        font-size: 2.7vw;
    }

    #footerContainer {
        height: 4rem;
    }
    
    /* footer text */
    .copyrightText {
        line-height: 5rem;
    }

    /* Contact form */
    .formText {
        font-size: 3vw;
        line-height: 2rem;
    }

    .formField {
        padding: .5rem;
        font-size: 2vw;
    }

    .formMessageBox {
        height: 10rem;
        padding: .5rem;
        font-size: 2vw;
    }

    .formSubmitButton {
        font-size: 3vw;
        padding: .5rem 4vw;
    }


    /* Portfolio */
    .textOverlayContainer {
        height: 14rem;
        width: 17rem;
    }
    
    .portfolioImage {
        height: 12rem;
        width: 15rem;
        object-fit: cover;
        margin: 1rem;
    }
    
    .textOverlay {
        top: 62%;
        width: 15rem;
        font-size: 1.3rem;
        margin: 1rem;
        text-align: center;
        padding: .8rem 0;
    }


}




















